.plotly-graph-div{
    height: 900px;
    width: 900px;
    position: absolute;
    top:  59%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.graph{
    justify-content: center;
    align-items: center;
}
h1{

}