.plotly-graph-div{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    position: absolute;
    top:  59%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.back{
    background: black;
}

.graph{
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: black;
}

div{
    text-align: center;
}

h1{
    color: white;
}

h1 a{
    color: #FFD700;
}

h1 a:hover{
    text-decoration: none;
    color: white;
}

h1 a:active{
    color: black;
}

h2{
    color: white;
    border-bottom: black 20px solid;
}

