.navbar {
    display: flex;
    height: auto;
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #FFD700;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #FFD700;
    color: black;
}

.navbar-right{
    margin-left: auto;
}

.navbar-nav > .active > a{
    background-color: #FFD700;
    color: black;
}