.navbar {
    display: flex;
    height: auto;
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #FFD700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #FFD700;
    color: black;
}

active{
    background-color: #FFD700;
    color: black;
}

.logo {
    height: 60px;
    width: 60px;
    padding-left: 40px;
    padding-top: 10px;
    display: block;
    text-align: left;
}