<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/news.css') }}">

    <title>{% block title %} {% endblock %}- CRYPTO</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('messario_api') }}">Messario API</a>
        <a href="{{ url_for('cryptocompare_coin_info') }}">CryptoCompare CoinInfo</a>
        <a href="{{ url_for('finnhub_candles') }}">Finnhub Candles</a>
        <a href="{{ url_for('coinlore_coin_market') }}">Coinlore Coin Market</a>
        <a href="{{ url_for('trade_assets') }}">Trade Assets</a>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>