<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% extends 'base.html' %}

    {% block content %}
        <div class="back">
        <div>
        <h1> Created by
                <a href="https://github.com/DouglasMcClure" target="_blank" rel="noreferrer noopener">Douglas McClure</a>
            </h1>
        <h2>Messario News</h2>
        </div>

        <h1>{% block title %}{% endblock %}</h1>
        <div class="table">
            <table class="container-table">
                <caption style="color: #FFD700">List of Crypto News Articles</caption>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">News Title</th>
                    <th scope="col">Publish Date</th>
                    <th scope="col">News Link</th>
                </tr>
                </thead>
                {% for post in posts %}
                <tbody>
                <tr>
                    <th scope="row">{{ post['id'] }}</th>
                    <td>{{ post['title'] }}</td>
                    <td>{{ post['published_at'] }}</td>
                    <td><a href="{{ post['url'] }}" target="_blank" rel="noreferrer noopener">{{ post['url'] }}</a></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        </div>
{% endblock %}
